<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DockerV1 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.DockerV1.presentation.DockerV1ModelWizardID"
            name="%_UI_DockerV1ModelWizard_label"
            class="fr.DockerV1.presentation.DockerV1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DockerV1ModelFile.gif">
         <description>%_UI_DockerV1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated DockerV1 -->
      <editor
            id="fr.DockerV1.presentation.DockerV1EditorID"
            name="%_UI_DockerV1Editor_label"
            icon="icons/full/obj16/DockerV1ModelFile.gif"
            extensions="dockerv1"
            class="fr.DockerV1.presentation.DockerV1Editor"
            contributorClass="fr.DockerV1.presentation.DockerV1ActionBarContributor">
      </editor>
   </extension>

</plugin>
